<main role="main">
  <section class="about">
    <div class="content">
      <header>
        <h1>About me</h1>
      </header>
      <article>
        <p>
          I offer versatile professionalism, adaptable to different
          environments, driven by the passion for learning and exceeding
          expectations with results beyond what is expected.
          <br />
          Constantly seeking to explore new technologies and add value through
          practical, efficient, secure, and innovative solutions.
        </p>
        <!-- <p>
          Ofereço um profissionalismo versátil e adaptável a diferentes
          ambientes, guiado pela paixão de aprender e superar expectativas com
          resultados acima dos esperados.
          <br />
          Em busca de explorar novas tecnologias e acrescentar valor através de
          soluções práticas, eficientes, seguras e inovadoras.
        </p> -->
      </article>
    </div>
    <app-linkedin-card />
  </section>
  <section class="experience"></section>
</main>
