/*|-----------------------|
  |                       |
  |      _ANIMATIONS      |
  |    -Animations file    |
  |                       |
  |-----------------------|*/

@keyframes dropDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes dropUp {
    0% {
        visibility: visible;
        transform: translateY(0);
    }

    100% {
        transform: translateY(-110%);
        visibility: hidden;
        display: none;
    }
}

div.menuDrop[data-visible="true"] {
    animation: dropDown 0.5s ease forwards;
}

div.menuDrop[data-visible="false"] {
    animation: dropUp 0.3s ease forwards;
}

.stackImagesContainer svg {
    transition: transform 0.2s;
}

.stackImagesContainer svg:hover {
    transform: scale(1.2);
}

@media (hover: hover) and (pointer: fine) {
    .projectsContainer .projectBox {
        transition: transform 0.2s, opacity 0.2s ease-out;
    }

    .projectsContainer:hover>:not(:hover) {
        opacity: 0.4;
        transform: scale(0.95);
    }
}

nav ul li a:focus,
nav ul li a:hover,
nav ul li a:focus svg path,
nav ul li a:hover svg path {
    color: var(--colorHoverMenu);
    fill: var(--colorHoverMenu);
}

.primaryHeader button.toggle:hover svg {
    fill: var(--colorH2);
}