/*|-------------------------|
  |                         |
  |          _BASE          |
  |   -Base commun styles   |
  |                         |
  |-------------------------|*/
* {
    box-sizing: border-box;
    transition-property: background-color, color, stroke, fill;
    transition-duration: 0.25s;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", "Roboto", sans-serif;
    background-color: var(--background);
    color: var(--colorP);
    font-optical-sizing: auto;
}

body {
    margin: 0;
}

div.container,
div.menuDrop {
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
}

main {
    margin: 0 0px;
}

main>section {
    margin: 15.5% auto;
    padding: 0% 1%;

}

section>header {
    text-align: center;
}

section>header>* {
    margin: 2.5% 0;
}

/******************************************************/
/* TEMPORARY STYLES */

/******************************************************/

.primaryHeader {
    width: 100%;
    padding: 0 1%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: var(--background);
}

/*  |----------|
    |   MENU   |
    |----------|*/
.primaryHeader .columnRight {
    width: 80%;
}

nav.menu ul {
    gap: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

div.menuDrop {
    z-index: 8;
    background-color: var(--background);
    display: none;
    visibility: hidden;
    position: fixed;
}

nav.menu.Small ul {
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    gap: 5%;
    row-gap: 10px;
    margin: 0;
    padding: 3% 3%;
}

nav.menu ul li a {
    font-weight: var(--fontWeightMedium);
    font-size: clamp(1.6rem, 5vw, 2rem);
    color: var(--colorPrimaryMenu);
    text-decoration: none;
}

/*  |-----------------|
    |   FIM DO MENU   |
    |-----------------|*/

/*  |--------------------------|
    |   LOGO+DARK/LIGHT MODE   |
    |--------------------------|*/
.primaryHeader .columnLeft {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20%;
}

#theme-switch #light,
[data-theme="dark"] #theme-switch #dark {
    display: none;
}

[data-theme="dark"] #theme-switch #light {
    display: block;
}

/*      |----------|
        |   LOGO   |
        |----------|*/
.logo .rui {
    transform: rotateY(180deg);
    font-size: clamp(2.5rem, 7.81vw, 4rem);
    line-height: clamp(2.5rem, 7.81vw, 4rem);
    font-family: "Press Start 2P", system-ui;
    margin-bottom: 0px;
    font-weight: var(--fontWeightBold);

}

.logo .dev {
    font-size: clamp(1.2rem, 3.75vw, 1.8rem);
    line-height: clamp(1.2rem, 3.75vw, 1.8rem);
    font-weight: var(--fontWeightBold);
    text-align: center;
    margin-top: 0;
    background: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*      |----------------|
        |   LIGHT MODE   |
        |----------------|*/
.primaryHeader button.toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

button.toggle svg {
    stroke: var(--colorH2);
}

/*  |---------------------------------|
    |   FIM DA LOGO+DARK/LIGHT MODE   |
    |---------------------------------|*/

/*  |--------------------|
    |   BANNER SECTION   |
    |--------------------|*/
.sectionBanner {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionBanner .columnLeft h1 span {
    background: var(--gradientSimple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sectionBanner .columnRight {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw * 0.35);
    max-width: 300px;
    height: calc(100vw * 0.35);
    max-height: 300px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 25px;
}

.sectionBanner .columnRight::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--gradientSimple);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    /* transform: rotate(-90deg); */
}

.sectionBanner .columnRight img#avatar {
    width: calc((100vw * 0.35) - 5px);
    max-width: 290px;
    border-radius: 100%;
}

/*  |---------------------------|
    |   FIM DO BANNER SECTION   |
    |---------------------------|*/

/*  |--------------------|
    |   STACKS SECTION   |
    |--------------------|*/
.stackImagesContainer {
    max-width: 1024px;
    margin: 5% auto;
}

.stackImagesContainer .Top.StackContainer,
.stackImagesContainer .Bottom.StackContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5%;
    margin-bottom: 2.5%;
}

.stackImagesContainer svg {
    width: 100px;
    fill: var(--background);
}

.stackImagesContainer .stackSVG {
    fill: var(--reversedBackground);
}

/*  |---------------------------|
    |   FIM DO STACKS SECTION   |
    |---------------------------|*/
/*  |---------------------|
    |   PROJECT SECTION   |
    |---------------------|*/
.sectionProjects .projectsContainer {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
    gap: 1%;
    flex-wrap: wrap;
    row-gap: 20px;
    z-index: 5;
}

.projectsContainer .projectBox {
    min-width: 240px;
    z-index: 7;
    width: 30%;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px; */
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 20px 1px;
    position: relative;
}

.projectsContainer .projectBox>img {
    width: 100%;
}

.projectBox .projectsContent {
    padding: 5% 5% 5% 5%;
}

.projectsContent * {
    margin: 0 0 7.5% 0;
}

.projectsContent p.pTechStack {
    text-align: center;
}

.techStackSVG {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.techStackSVG svg {
    width: calc(var(--fontSizeP) * 2);
}

.techStackSVG .stackSVG,
.projectLinks .stackSVG {
    fill: var(--reversedBackground);
}

.projectActions {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.projectActions .projectLinks>a {
    display: flex;
    gap: 5px;
}

.projectActions .projectLinks svg {
    width: calc(var(--fontSizeSmall) + 5px);
}

.projectLinks small {
    text-decoration: underline;
    color: var(--reversedBackground);
    margin: 0;
    font-weight: var(--fontWeightMedium);
}

/*  |----------------------------|
    |   FIM DO PROJECT SECTION   |
    |----------------------------|*/

/*  |------------|
    |   FOOTER   |
    |------------|*/
footer {
    padding: 0 1%;
}

.topFooter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--colorBorder);
    padding-bottom: 2.5vh;
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.socials ul {
    display: flex;
    align-items: center;
    gap: 2.5vw;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.contacts .mail a,
.mail p,
.bottomFooter a,
.bottomFooter p {
    text-decoration: none;
    color: var(--colorFooter);
    font-weight: var(--fontWeightRegular);
    font-family: "DM Sans", serif;
    margin: 0;
}

.socials path {
    fill: var(--colorFooter);
}

.bottomFooter nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    gap: 5vw;
    padding: 0;
    margin: 5% 0;
}

/*  |-------------------|
    |   FIM DO FOOTER   |
    |-------------------|*/