@import url("_variables.css");

/*|-------------------------|
|                         |
|          _BASE          |
|   -Base commun styles   |
|                         |
|-------------------------|*/
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", "Roboto", sans-serif;
}

body {
    background-color: var(--background);
    color: #fff;
    margin: 0;
}

div.container,
div.menuDrop {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

main {
    margin: 0px 5px;
}

/******************************************************/
/* TEMPORARY STYLES */
span {
    font-size: 1.8125rem;
}

/******************************************************/

/*|----------------|
  |   TIPOGRAFIA   |
  |----------------|*/

h1 {
    color: var(--colorH1);
    font-weight: var(--fontWeightBold);
    font-size: 5.8rem;
    font-size: clamp(3.6rem, 11.25vw, 5.8rem);
    font-size: clamp(2.4rem, 7.5vw, 5.8rem);
}

h2 {
    font-weight: var(--fontWeightBold);
    color: var(--colorH2);
    font-size: 4.8rem;
    font-size: clamp(3rem, 9.37vw, 4.8rem);
    font-size: clamp(2.1rem, 6.56vw, 4.8rem);
}

h3 {
    color: var(--colorH3);
    font-weight: var(--fontWeightRegular);
    font-size: 3.2rem;
    font-size: clamp(2rem, 6.25vw, 3.2rem);
    font-size: clamp(1.8rem, 5.62vw, 3.2rem);
}

h4 {
    color: var(--colorH4);
    font-weight: var(--fontWeightMedium);
    font-size: 2.8rem;
    font-size: clamp(1.7rem, 5.47vw, 2.8rem);
    font-size: clamp(1.5rem, 4.68vw, 2.8rem);
}

p {
    color: var(--colorText);
    font-weight: var(--fontWeightLight);
    font-size: 1.8rem;
    font-size: clamp(1.2rem, 3.75vw, 1.8rem);
}

hr {
    width: 100%;
    background: var(--gradient);
    border: none;
    height: 2px;
    border-radius: 100%;
    margin: 0;
    z-index: 9;
}

a svg path {
    fill: var(--colorIcon);
}

.primaryHeader {
    margin: 5px 5px 0 5px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: var(--background);
}

/*  |----------|
    |   MENU   |
    |----------|*/
.primaryHeader .columnLeft {
    width: 80%;
    padding-right: 4%;
}

nav.menu ul {
    gap: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

div.menuDrop {
    z-index: 8;
    background-color: var(--background);
    box-shadow: 0px 2px 5px 0px var(--gradientMid);
    display: none;
    position: fixed;
}

nav.menu.Small ul {
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    gap: 7%;
    row-gap: 10px;
    margin: 0;
    padding: 3% 3%;
}

nav.menu ul li a {
    display: flex;
    font-size: 2rem;
    color: var(--colorPrimaryMenu);
    text-decoration: none;
}

/*  |-----------------|
    |   FIM DO MENU   |
    |-----------------|*/

/*  |--------------------------|
    |   LOGO+DARK/LIGHT MODE   |
    |--------------------------|*/
.primaryHeader .columnRight {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
}

/*      |----------|
        |   LOGO   |
        |----------|*/
.primaryHeader .columnRight .logo {
    user-select: none;
    pointer-events: none
}

.primaryHeader .columnRight .logo .rui {
    font-size: 4rem;
    line-height: 2.6rem;
    transform: rotateY(180deg);
    font-family: "Press Start 2P", system-ui;
    margin-bottom: 0px;
    font-weight: var(--fontWeightMedium);
}

.primaryHeader .columnRight .logo .dev {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: var(--fontWeightSemiBold);
    text-align: center;
    margin-top: 0;
    background: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*      |----------------|
        |   LIGHT MODE   |
        |----------------|*/
.primaryHeader button.toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}

.primaryHeader button.toggle svg {
    stroke: var(--colorText);
    fill: var(--colorText);
}

/*  |---------------------------------|
    |   FIM DA LOGO+DARK/LIGHT MODE   |
    |---------------------------------|*/

/*  |--------------------|
    |   SECTION BANNER   |
    |--------------------|*/
.sectionBanner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0;
}

.sectionBanner .columnRight img#avatar {
    width: calc(100vw * 0.3);
    max-width: 305px;
    border-radius: 100%;
}


/*  |---------------------------|
    |   FIM DO SECTION BANNER   |
    |---------------------------|*/