/*|--------------------|
  |                    |
  |     _VARIABLES     |
  |   -Variables file   |
  |                    |
  |--------------------|*/

:root {
    --maxwidth: 1440px;
    --grey01: #191919;
    --grey02: #363636;
    --grey03: #666666;
    --grey04: #A7A7A7;
    --grey05: #CCCCCC;
    --green01: #018C0F;
    --green02: #D7FFE0;
    --blue01: #42446E;
    --white: #eeeeee;
    --gradientMid: #cfba64;
    --fontWeightLight: 300;
    --fontWeightRegular: 400;
    --fontWeightMedium: 500;
    --fontWeightSemiBold: 600;
    --fontWeightBold: 700;
    --gradient: linear-gradient(90deg,
            var(--background) 0%,
            var(--gradientMid) 30%,
            var(--gradientMid) 70%,
            var(--background) 100%);
    --gradientSimple: linear-gradient(0deg,
            var(--gradientMid) 30%,
            var(--colorH2) 70%);
    /* 7.5vw = minimum_font-size / 320px */
    /* --fontSizeH1: clamp(2.4rem, 7.5vw, 5.8rem);
    --fontSizeH2: clamp(2.1rem, 6.56vw, 4.8rem);
    --fontSizeH3: clamp(1.8rem, 5.62vw, 3.2rem);
    --fontSizeH4: clamp(1.5rem, 4.68vw, 2.8rem);
    --fontSizeP: clamp(1.2rem, 3.75vw, 1.8rem);
    --fontSizeSmall: clamp(1.0rem, 3.125vw, 1.6rem); */

    --fontSizeH1: clamp(2.4rem, 5.665vw, 5.8rem);
    --fontSizeH2: clamp(2.1rem, 4.688vw, 4.8rem);
    --fontSizeH3: clamp(1.8rem, 3.125vw, 3.2rem);
    --fontSizeH4: clamp(1.5rem, 2.734vw, 2.8rem);
    --fontSizeP: clamp(1.2rem, 1.758vw, 1.8rem);
    --fontSizeSmall: clamp(1.0rem, 1.563vw, 1.6rem);
}

html {
    --reversedBackground: var(--grey01);
    --background: var(--white);

    --colorH1: var(--blue01);
    --colorH2: var(--blue01);
    --colorH3: var(--grey03);
    --colorH4: var(--blue01);
    --colorP: var(--grey03);

    --colorPrimaryMenu: var(--grey03);
    --colorHoverMenu: var(--blue01);
}

html.darkmode {
    --background: var(--grey01);
    --reversedBackground: var(--white);

    --colorH1: var(--grey05);
    --colorH2: var(--grey05);
    --colorH3: var(--grey04);
    --colorH4: var(--grey05);
    --colorP: var(--grey05);

    --colorPrimaryMenu: var(--grey04);
    --colorHoverMenu: var(--white);
}