@import url("_variables.css");
@import url("_base.css");

/*|----------------------------------|
  |                                  |
  |        MAIN - Mobile first       |
  |   -Main CSS file for portfolio   |
  |                                  |
  |----------------------------------|*/

/******************************************************/

/*|--------------------|
  |   MOBILE < 800px   |
  |--------------------|*/
@media (max-width: 799px) {
  .primaryHeader .columnLeft .menuLarge {
    display: none;
  }
}

/*|-------------------|
  |   FIM DE MOBILE   |
  |-------------------|*/

/******************************************************/

/*|--------------------|
  |   TABLET < 950px   |
  |--------------------|*/
@media (min-width: 800px) and (max-width: 949px) {
  .primaryHeader .columnLeft .menuLarge {
    display: none;
  }
}

/*|-------------------|
  |   FIM DE TABLET   |
  |-------------------|*/

/******************************************************/

/*|----------------------|
  |   DESKTOP > 950px   |
  |----------------------|*/
@media (min-width: 950px) {
  .primaryHeader .columnLeft .menuSmall {
    display: none;
  }
}

/*|--------------------|
  |   FIM DO DESKTOP   |
  |--------------------|*/