@import url("_variables.css");
@import url("_typography.css");
@import url("_base.css");
@import url("_animations.css");

/*|----------------------------------|
  |                                  |
  |        MAIN - Mobile first       |
  |   -Main CSS file for portfolio   |
  |                                  |
  |----------------------------------|*/

/******************************************************/

/*|--------------------|
  |   MOBILE < 768px   |
  |--------------------|*/
@media (max-width: 768px) {
  .primaryHeader .columnRight .menu.Large {
    display: none;
  }

  .sectionProjects .projectsContainer {
    justify-content: space-evenly;
  }
}

/*|-------------------|
  |   FIM DE MOBILE   |
  |-------------------|*/

/******************************************************/

/*|---------------------|
  |   TABLET < 1024px   |
  |---------------------|*/
@media (min-width: 769px) and (max-width: 1023px) {

  .primaryHeader .mobile-menu-button .toggle,
  .menuDrop,
  .menu.Small,
  .hrHeader {
    visibility: hidden !important;
    display: none !important;
  }

}

/*|-------------------|
  |   FIM DE TABLET   |
  |-------------------|*/

/******************************************************/

/*|----------------------|
  |   DESKTOP > 1024px   |
  |----------------------|*/
@media (min-width: 1024px) {

  .primaryHeader .mobile-menu-button .toggle,
  .menuDrop,
  .menu.Small,
  .hrHeader {
    visibility: hidden !important;
    display: none !important;
  }
}

/*|--------------------|
  |   FIM DO DESKTOP   |
  |--------------------|*/