@import url("_variables.css");
@import url("_base.css");
@import url("_animations.css");

/*|----------------------------------|
  |                                  |
  |        MAIN - Mobile first       |
  |   -Main CSS file for portfolio   |
  |                                  |
  |----------------------------------|*/

/******************************************************/

/*|--------------------|
  |   MOBILE < 800px   |
  |--------------------|*/
@media (max-width: 767px) {
  .primaryHeader .columnLeft .menu.Large {
    display: none;
  }
}

/*|-------------------|
  |   FIM DE MOBILE   |
  |-------------------|*/

/******************************************************/

/*|---------------------|
  |   TABLET < 1024px   |
  |---------------------|*/
@media (min-width: 768px) and (max-width: 1023px) {
  .primaryHeader .columnLeft .menu.Large {
    display: none;
  }

  nav.menu.Small ul {
    gap: 5%;
  }
}

/*|-------------------|
  |   FIM DE TABLET   |
  |-------------------|*/

/******************************************************/

/*|----------------------|
  |   DESKTOP > 1024px   |
  |----------------------|*/
@media (min-width: 1024px) {

  .primaryHeader .columnLeft .toggle,
  div.menuDrop,
  .menu.Small {
    display: none;
  }

  /*  |----------|
      |   MENU   |
      |----------|*/


  /*  |-----------------|
      |   FIM DO MENU   |
      |-----------------|*/
}

/*|--------------------|
  |   FIM DO DESKTOP   |
  |--------------------|*/