<main role="main">
  <section id="sectionBanner">
    <div class="columnLeft">
      <h1>
        <small class="underline-animation"> HELLO WORLD 👋🏼 </small>
        <br />My name is<br />
        <span>Rui Conceição</span><br />
        <p>Junior Developer</p>
      </h1>
    </div>
    <div class="columnRight">
      <img
        src="https://res.cloudinary.com/ruiconceicaoportfolio/image/upload/avatar2.jpg"
        alt="Avatar"
        id="avatar"
      />
    </div>
  </section>
  <section id="sectionStack">
    <header>
      <h2>Stack</h2>
      <h3>I've worked with</h3>
    </header>
    <app-stack />
  </section>
  <section id="sectionProjects">
    <header>
      <h2>Projects</h2>
      <h3>I've developed</h3>
    </header>
    <app-project-card />
  </section>
</main>
